<% if @photos %> #on vérifie la présence de photos pour continuer à afficher
 <div class="row"> 
        <% @photos.each do |photo| %> <!--on crée une boucle pour traiter chaque photo indépendamment -->
             <div class="col-md-4"> 
                  <div class="panel panel-default"> 
                        <div class="panel-heading preview">
                             <%= image_tag photo.image.url() %> <!-- on affiche la photo -->
                        </div>
                  </div>
             </div>
       <% end %>
 </div>
 <% end %>