<footer class="text-muted">
       <div class="container">
           <hr>
         <p>Aidez-moi :)</p>
         <p>Charte</p>
         <p>Informations légales</p>
         <p>Politique de confidentialité</p>
       </div>
     </footer> 